.container, 
.main-navigator {
    max-width: 1200px;
    margin: 0 auto;
}

.navigator-container {
    padding-top: 20px;
    max-width: 1200px;
    color: #fff;
    position: relative;
    float: left;
    margin: 0 auto;
    overflow: hidden;
}

.transparency {
    opacity: 0.5;
    filter: alpha(opacity=50);
    -moz-opacity: 0.5;
    background-color: #000000;
    width: 340px;
/*    height: 1500px;*/
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
}

.main-menu {
   min-height: 30px;
    padding-top: 10px;
}
	
 .main-menu ul {
    margin: 0;
    margin-left: 160px;
    padding: 0;
    list-style: none;
}

.main-menu li {
    display: inline-block;
    margin-right: 100px;
}

.main-menu a {
    color: white;
text-transform: uppercase;
	font-size: 14px;
	position: relative;
    display: inline-block;
    text-decoration:none;
  }

/* полоска под ссылкой */
.effect-1 a::after {
    content: '';
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: 1px;
	background: #f39c12;
	z-index:100;
	opacity:0;}
	
/* делает полоску видимой */	
.effect-1 a:hover::after {
    transform:translateY(3px);
    opacity:1;
}

/* изменение цвета ссылки при наведении мыши */
.effect-1 a:hover {
    color:#f39c12;
}

/* цвет активной ссылки */
.active  a{
    color:#f39c12;
}

/* полоска под активной ссылкой */
.active a::after {
    content: '';
	position: absolute;
	top: 20px;
	left: 0;
	width: 100%;
	height: 1px;
	background: #f39c12;
	z-index:100;
	opacity:1;
}
	
h2 {
    margin-bottom: 40px;
    font-size: 30px;
}

p {
    margin-bottom: 30px;
    font-size: 16px;
    font-weight: 300;
    padding: 5px 0;
}

p:last-child {
    margin-bottom: 0;
}

.content {
    padding: 20px 0 40px 0;
}

.parallax {
    height: 900px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.main-title {
    color: rgba(255, 255, 255, 0.8);
    line-height: 350px;
    margin-top: 0;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.parallax-1 {
    margin-top: - 10px;
    background-image: url("/img/new-cover.jpg");
}

.parallax-2 {
    background-image: url("/img/keyboard.jpg");
}

.parallax-3 {
    background-image: url("/img/desctop.jpg");
}

.parallax-4 {
    background-image: url("/img/new-cover-2.jpg");
}

.feedback {
    font-size: 12px;
    color: #fff;
    text-align: center;
}


/* для экрана меньше 320px */

@media all and (max-width: 320px) {
     .main-menu ul {
        margin-left: 80px;
    }
    .main-menu li {
        margin-right: 20px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .main-title {
        font-size: 30px;
        line-height: 30px;
        color: #fff;
        padding-top: 30px;
    }
    .inner-title {
        font-size: 25px;
        line-height: 25px;
        color: #fff;
        padding-top: 30px;
    }
    .content {
        padding-top: 10px;
    }
    h2 {
        font-size: 20px;
        margin-bottom: 10px;
        padding: 0 10px;
    }
    p {
        font-size: 10px;
        padding: 0 10px;
    }
    .parallax {
        height: 300px;
    }
}


/* для экрана больше 320px и меньше 480px */

@media all and (min-width: 321px) and (max-width: 480px) {
    .main-menu ul {
        margin-left: 80px;
    }
    .main-menu li {
        margin-right: 20px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .main-title {
        font-size: 40px;
        line-height: 50px;
        color: #fff;
        padding-top: 30px;
    }
    .inner-title {
        font-size: 35px;
        line-height: 35px;
        color: #fff;
        padding-top: 30px;
    }
    .content {
        padding-top: 10px;
    }
    h2 {
        font-size: 25px;
        margin-bottom: 10px;
        padding: 0 10px;
    }
    p {
        font-size: 15px;
        padding: 0 10px;
    }
    .parallax {
        height: 500px;
    }
}


/* для экрана больше 480px и меньше 768px */

@media all and (min-width: 481px) and (max-width: 768px) {
    .main-menu ul {
        margin-left: 10px;
    }
    .main-menu li {
        margin-right: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    /*  section.module*/
    h2 {
        font-size: 32px;
        margin: 0 10px;
        padding: 0 10px;
    }
    /*  section.module*/
    p {
        font-size: 18px;
        padding: 0 10px;
    }
    /*  section.module.parallax h1*/
    .main-title {
        font-size: 100px;
        line-height: 200px;
    }
    .inner-title {
        font-size: 50px;
        color: #fff;
    }
    .parallax {
        height: 700px;
    }
}

/* для экрана больше 640px и меньше 768px */

@media all and (min-width: 641px) and (max-width: 768px) {
    .main-menu ul {
        margin-left: 50px;
    }
    .main-menu li {
        margin-right: 30px;
        margin-top: 10px;
    }
    
}

/* для экрана больше 769px и меньше 1024px */

@media all and (min-width: 769px) and (max-width: 1024px) {
    .main-menu ul {
        margin-left: 135px;
    }
    .main-menu li {
        margin-right: 40px;
        margin-top: 10px;
    }
    
     /*  section.module*/
    h2 {
        font-size: 32px;
        margin: 0 10px;
        padding: 0 10px;
    }
    /*  section.module*/
    p {
        font-size: 18px;
        padding: 0 10px;
    }
    /*  section.module.parallax h1*/
    .main-title {
        font-size: 100px;
        line-height: 200px;
    }
    .inner-title {
        font-size: 50px;
        color: #fff;
    }
    .parallax {
        height: 700px;
    }
    
}


/* для экрана больше 1024px */

@media all and (min-width: 1025px) {
   
    
           
    /*  section.module.parallax h1*/
    .main-title {
        font-size: 160px;
    }
    .inner-title {
        font-size: 100px;
        color: rgba(255, 255, 255, 0.8);
    }
    h2,
    p {
        padding: 0 10px;
    }
}